.profile-setup-wrapper{
    height: 100vh;
    display: flex;
    background-color: #f5f5f7;
}

.profile-setup-form-container{
    width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 9px;
}

.form-profile-setup{
    display: flex;
    height: 85%;
}

.profile-setup-label{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-top: 44px;
    color: #FF5B00;
}

.left-profile-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right-profile-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-profile-setup{
    height: 43px;
    border-radius: 8px;
    width: 300px;
    border: none;
    outline: none;
    font-size: 19px;
    padding-left: 14px;
}

.profile-setup-save-btn{
    width: 300px;
    height: 38px;
    border: none;
    border-radius: 6px;
    background: #FF5B00;
    font-weight: 700;
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    .profile-setup-form-container{
        width: 326px;
    }

    .form-profile-setup{
        flex-direction: column;
        margin-bottom: 45px;
    }
}
